@keyframes appearLabels {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-bottom {

    0% {
        opacity: 0;
        transform: translateX(200px);
        border-radius: 50px;
    }
    30% {
        opacity: 1;
        transform: translateY(0);
        border-radius: 15px;

    }
    80% {
        border-radius: 15px;
    }
    100% {
        transform: translate(0px);
        width: 400px;
        height: 400px;
        border-radius: 15px;

    }

}

@keyframes appear-top {

    0% {
        opacity: 0;
        transform: translateY(-300px);
        border-radius: 50px;
    }
    30% {
        opacity: 1;
        transform: translateY(0)
    }
    80% {
        border-radius: 15px;
    }
    100% {
        transform: translate(5px);
        width: 400px;
        height: 400px;
        border-radius: 15px;
    }

}

@keyframes appear-top-register {

    0% {
        opacity: 0;
        transform: translateY(-300px);
        border-radius: 50px;
    }
    30% {
        opacity: 1;
        transform: translateY(0)
    }
    80% {
        border-radius: 15px;
    }
    100% {
        transform: translate(5px);
        width: 400px;
        height: 380px;
        border-radius: 15px;
        
    }

}

body {
    background-image: url(tło-cosmos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.box-bottom {
    animation: appear-bottom 2s .5s both;
    backdrop-filter: blur(5px);
    border: 2px solid rgb(166, 166, 207);
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appearLabels 1s 1.5s both;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    
}

.box-Login {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear-top 2s .5s both;
    backdrop-filter: blur(2px);
    border: 2px solid rgb(166, 166, 207);

}

.input-box {
    margin-top: 2em;
    border: none;
    opacity: 70%;
    display: flex;
}

.input-box input {
    height: 3em;
    width: 15em;
    font-size: 16px;
    border-radius: 8px;
    padding-left:2em;
    box-shadow: 1px 1px  10px rgb(7, 7, 7);
    border: none;


}

.remember-forgot {
    margin-top: 2em;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: white;

}

.remember-forgot a {
    color: rgb(245, 240, 240);
    text-decoration: none;
}
.remember-forgot a:hover{
    cursor: pointer;
    color:rgb(121, 42, 97);
}
#register{
    text-decoration: none;
}
#register:hover{
    color:rgb(121, 42, 97);
}

.btn {
    margin-left:20%;
    height: 3em;
    width: 10em;
    font-size: 1em;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:none;
    box-shadow:2px 2px 10px black;
    opacity: 80%;
    font-weight: 700;
    transition: all 0.4s;
}

.btn:hover {
    background-color:rgb(136, 59, 143);
    cursor: pointer;

}


.register-link {
    color: white;
}

.register-link a {
    color: rgb(250, 248, 248);
    font-size: 1.5em;
    padding-left:1em;
}
.exit-btn{
    
    height:2em;
    top:1px;
    right:1px;
    width:1.5em;
    border-top-right-radius: 1em;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:white;
    
}
.exit-btn:hover{
    color: rgb(136, 59, 143);
}
.register-title{
    padding:0;
    margin:0;
    top:1em;
}
.register {
    display: none;
    position: relative;
    height: 9em;
    width: 9em;
    flex-direction: column;
    gap:1.5em;
    justify-content: center;
    align-items: center;
    padding-top:1.5em;
    animation: appear-top-register 2s .5s both;
    background-color:transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgb(166, 166, 207);
    z-index: 1;
    margin-right:1em;
    
   
}
.register-input{
    height: 3em;
    width: 15em;
    font-size: 16px;
    border-radius: 8px;
    padding-left:2em;
    box-shadow: 1px 1px  10px rgb(7, 7, 7);
    border: none;
    

}
.register-btn{
    border-radius: 1em;
    height: 3em;
    width:9em;
    border:none;
    margin-bottom:1em;
    font-size: 18px;
}
.register-btn:hover{
    background-color: rgb(136, 59, 143);
}

.wrapper {
    animation: appearLabels 1s 1.5s both;
}

